<div ng-controller="NewUserCtrl">
    <form <form name="userForm" ng-submit="saveUser()" novalidate class="form-horizontal">
        <h1 class="page-header">Register</h1>
        <fieldset>    
            <div class="control-group">
                <label class="control-label" for="first_name">First Name</label>
                <div class="controls">
                    <input id="first_name" name="first_name" type="text" class="input-block-level"
                           required="false" ng-model="user.first_name"></input>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="last_name">Last Name</label>
                <div class="controls">
                    <input id="last_name" name="last_name" type="text" class="input-block-level"
                           required="false" ng-model="user.last_name"></input>
                </div>
            </div>

            <div class="control-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
                <label class="control-label" for="email">Username</label>
                <div class="controls">
                    <input type="text" name="username" class="input-block-level" ng-model="user.username" ng-minlength="3" ng-maxlength="8" required></input>
                    <p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
                    <p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
                    <p ng-show="userForm.username.$invalid && !userForm.username.$pristine" class="help-block">You username is required.</p>
                 </div>    
            </div>

            <div class="control-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                <label class="control-label" for="email">Email</label>
                <div class="controls">
                    <input type="email" name="email" class="input-block-level" ng-model="user.email" required></input>
                    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">You email is required.</p>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="dob">Date of Birth</label>
                <div class="controls">
                    <input id="dob" name="dob" pattern="YYYY-MM-dd"
                           type="date" class="input-block-level" 
                           ng-model="user.dob" required="false"></input>
                    <p ng-show="userForm.dob.$error.pattern">Incorrect Format, should be YYYY-MM-DD!</p>
                </div>
            </div>
             <div class="control-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
                <label class="control-label" for="password">Password</label>
                <div class="controls">
                    <input id="password" name="password" type="password" class="input-block-level" 
                           ng-model="user.password" required></input>
                    <p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">You password is required.</p>       
                </div>
            </div>
        </fieldset> 
        <div class="form-actions">			
            <button class="btn btn-primary" ng-disabled="userForm.$invalid">Send Registration</button>
        </div>
    </form>

</div>